---
interface Props {
	title: string;
	src?: string;
	icon?: string;
	date: string;
	href: string;
}

const { href, title, date, icon = '', src = '' } = Astro.props;
---

<div class="w-[300px] h-[300px] bg-white list-none">
	<a href={href}>
		<p class="text-center">
			{src && <img src={src} alt="">}
			{icon && <span class="text-[48px]">{icon}</span>}
		</p>
		<h3>{title}</h3>
		<p><time datetime={date}>{date}</time></p>
	</a>
</div>

